@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Cores */
    --cor-primaria: #0d1b2a;
    --cor-secundaria: #FFF;
    --cor-terciaria: #e5e5e5;
    --cor-quarta: #0496ff;
    --cor-quinta: #d90429;
    /* Fontes */
    --fonte-primaria: "Poppins", sans-serif;
    /* Configs */
    font-size: 16px;
}

html {
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-primaria);
    background-color: var(--cor-secundaria);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: clamp(280px, 90vw, 800px);
    height: 50px;
    margin: 2rem auto 0;
    border: 1px solid var(--cor-terciaria);
    border-radius: 16px;
    background-color: var(--cor-terciaria);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

#cor-principal-picker,
#cor-secundaria-picker {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid var(--cor-quarta);
    position: relative;
    overflow: hidden;
}

#cor-picker {
    font-size: 20px;
    cursor: pointer;
}

#cor-picker:hover {
    color: var(--cor-quarta);
    transition: .3s;
}

#alterarCorPrincipal,
#alterarCorSecundaria {
    width: 78px;
    height: 100px;
    padding: 0;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: -7px;
    left: -20px;
}

#lista-tamanhos-lapis {
    display: flex;
    gap: 1rem;
}

#lista-tamanhos-lapis li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 2px solid var(--cor-primaria);
    cursor: pointer;
}

#tamanho-lapis-seletor ul li.selecionado {
    border-color: var(--cor-quarta);
}

#tamanho-lapis-seletor ul li span {
    background-color: var(--cor-primaria);
}

#tamanho-lapis-1 span {
    width: 8px;
    height: 8px;
}

#tamanho-lapis-2 span {
    width: 12px;
    height: 12px;
}

#tamanho-lapis-3 span {
    width: 18px;
    height: 18px;
}

#tamanho-lapis-4 span {
    width: 26px;
    height: 26px;
}

#size-opcao {
    position: relative;
}

#size-opcao-botao,
#grid-opcao-botao,
#clear-opcao-botao {
    width: 60px;
    height: 30px;
    font-family: var(--fonte-primaria);
    font-weight: 600;
    border: 1px solid var(--cor-quarta);
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    transition: .3s ease-in-out;
}

#size-opcao-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 0px;
    height: 0px;
    position: absolute;
    left: 50%;
    top: 32px;
    transform: translateX(-50%);
    overflow: hidden;
    transition: .3s;
}

#size-opcao-botao.ativado + #size-opcao-menu {
    width: 300px;
    height: 100px;
    left: 50%;
    top: 50px;
    background-color: var(--cor-quarta);
    color: var(--cor-secundaria);
    border-radius: 16px;
}

#size-opcao-botao::before {
    content: '';
    width: 0;
    height: 0;
    background-color: transparent;
    border: 0px solid transparent;
    position: absolute;
    left: 50%;
    top: 33px;
    transform: translateX(-50%);
    transition: .3s;
}

#size-opcao-botao.ativado::before {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 22px solid var(--cor-quarta);
}

#size {
    width: 80%;
    height: 30px;
    border-color: transparent;
    border-radius: 12px;
    outline: none;
    text-align: center;
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
}

#aplicarTamanho {
    width: 50%;
    height: 25px;
    font-family: var(--fonte-primaria);
    font-size: .9rem;
    font-weight: 600;
    background-color: var(--cor-secundaria);
    border: 1px solid var(--cor-secundaria);
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
}

#aplicarTamanho:hover {
    background-color: var(--cor-quarta);
    color: var(--cor-secundaria);
}

#size-opcao-botao.ativado,
#grid-opcao-botao.ativado {
    background-color: var(--cor-quarta);
    color: var(--cor-terciaria);
}

#size-opcao-botao.desativado,
#grid-opcao-botao.desativado {
    background-color: var(--cor-terciaria);
    color: var(--cor-quarta);
}

#clear-opcao-botao {
    background-color: var(--cor-terciaria);
    border-color: var(--cor-quinta);
    color: var(--cor-quinta);
}

#clear-opcao-botao:hover {
    background-color: var(--cor-quinta);
    color: var(--cor-terciaria);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    min-height: 100dvh;
}

#tabela {
    width: 700px;
    height: 700px;
    border: 2px solid var(--cor-primaria);
    margin-bottom: 2rem;
}

.elemento-tabela {
    width: 10px;
    height: 10px;
    cursor: pointer;
    border: 1px solid var(--cor-primaria);
}

@media (max-width: 850px) {

    .menu {
        height: 40px;
    }

    #cor-principal-picker,
    #cor-secundaria-picker {
        width: 20px;
        height: 20px;
    }

    #cor-picker {
        font-size: 1rem;
    }

    #lista-tamanhos-lapis {
        gap: .5rem;
    }

    #lista-tamanhos-lapis li {
        width: 20px;
        height: 20px;
    }

    #tamanho-lapis-1 span {
        width: 4px;
        height: 4px;
    }

    #tamanho-lapis-2 span {
        width: 8px;
        height: 8px;
    }

    #tamanho-lapis-3 span {
        width: 12px;
        height: 12px;
    }

    #tamanho-lapis-4 span {
        width: 16px;
        height: 16px;
    }

    #size-opcao-botao,
    #grid-opcao-botao,
    #clear-opcao-botao {
        width: 40px;
        height: 20px;
        line-height: 20px;
        font-size: .8rem;
    }
}